$lightgrey: #707070;
$lightgrey-2: #B5B5B5;
$lightgrey-3:#E8E8E8;
$lightgrey-4: #E3E3E3;
$lightgrey-5: #E6E6E6;
$tavisblue: #5DA9FF;
$lightblue: #69B6E6;
$darkblue: #0080FF;
$darkblue-2: #0022FF;
$darkblue-3: #3F6CB3;
$darkblue-4: #214DFC;
$tavisgreen: #2FC829;
$tavislightgreen: #65CD7D;
$uploadButton: #5394D2;
$orderPaidStatus: #26CC08;
$tavisdarkpurple: #5B5B8E;